
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

body,
html {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-image: url('./assets/sunset.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
}

.letters-bg {
  background-image: url('./assets/letters.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;

  /* Adjust the blur radius as needed */
}

.button {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: #3d3a4e;
  background-size: 100%;
  color: #fff;
  border: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  height: 30px;
  display: inline-block;
}

.loader>div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(245, 230, 64, 0.409);
  background: #edeae3be;
  float: left;
  margin: 5px;
  transform: scale(1.5);
}

.loader>div:nth-child(1) {
  animation: anm-BL-53-move1 1s infinite linear;
}

.loader>div:nth-child(2) {
  animation: anm-BL-53-move2 1s infinite linear;
  animation-delay: 0.2s;
}

.loader>div:nth-child(3) {
  animation: anm-BL-53-move3 1s infinite linear;
  animation-delay: 0.3s;
}

.loader>div:nth-child(4) {
  animation: anm-BL-53-move4 1s infinite linear;
  animation-delay: 0.4s;
}

.loader>div:nth-child(5) {
  animation: anm-BL-53-move5 1s infinite linear;
  animation-delay: 0.5s;
}

@keyframes anm-BL-53-move1 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move2 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move3 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move4 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move5 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #f4b029;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgb(218, 176, 60);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}