
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

body,
html {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-image: url('./assets/sunset.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
}

.letters-bg {
  background-image: url('./assets/letters.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;

  /* Adjust the blur radius as needed */
}

.button {
  position: relative;
  overflow: hidden;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: #3d3a4e;
  background-size: 100%;
  color: #fff;
  border: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  height: 30px;
  display: inline-block;
}

.loader>div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(245, 230, 64, 0.409);
  background: #edeae3be;
  float: left;
  margin: 5px;
  transform: scale(1.5);
}

.loader>div:nth-child(1) {
  animation: anm-BL-53-move1 1s infinite linear;
}

.loader>div:nth-child(2) {
  animation: anm-BL-53-move2 1s infinite linear;
  animation-delay: 0.2s;
}

.loader>div:nth-child(3) {
  animation: anm-BL-53-move3 1s infinite linear;
  animation-delay: 0.3s;
}

.loader>div:nth-child(4) {
  animation: anm-BL-53-move4 1s infinite linear;
  animation-delay: 0.4s;
}

.loader>div:nth-child(5) {
  animation: anm-BL-53-move5 1s infinite linear;
  animation-delay: 0.5s;
}

@keyframes anm-BL-53-move1 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move2 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move3 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move4 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}

@keyframes anm-BL-53-move5 {
  50% {
    background: #FFBB00;
    transform: scale(1);
  }
}